/*------------------------------------*\
    #Colors

    Review and edit these default colours, then add further colors
    as required for your project.

    The ideal color contrast range for meeting WCAG AAA is 7:1 - 15:1
\*------------------------------------*/

/**
Brand
 */
$brand-100: #01172c;
$brand-90: #022846;
$brand-80: #033b65;
$brand-70: #07558d;
$brand-60: #0c73bc;
$brand-50: #1391ec;
$brand-40: #63acfd;
$brand-30: #a4c8fe;
$brand-20: #d0e1fe;
$brand-10: #eff4ff;


/**
Accent
 */
$accent-100: #001a12;
$accent-90: #002c21;
$accent-80: #004232;
$accent-70: #005e48;
$accent-60: #007e62;
$accent-50: #00a07d;
$accent-40: #00be96;
$accent-30: #00e0b1;
$accent-20: #00fdc8;
$accent-10: #cdffec;


/**
Neutrals
 */
$neutral-100: #161616;
$neutral-90: #262626;
$neutral-80: #393939;
$neutral-70: #525252;
$neutral-60: #6f6f6f;
$neutral-50: #8d8d8d;
$neutral-40: #a8a8a8;
$neutral-30: #c6c6c6;
$neutral-20: #e0e0e0;
$neutral-10: #f4f4f4;



/**
Admin theme
 */
$admin-bg-primary: $neutral-10;
$admin-bg-secondary: $neutral-20;
$admin-bg-tertiary: $neutral-30;


/**
Links
 */
$link-color:                    $accent-70;
$link-color--active:			$accent-80;
$link-color--hover:             $accent-90;
$link-color--visited:           $accent-80;


// @TODO button colours default, alt and dark versions - how to organise the dark versions?

/**
Buttons
 */
$button-bg:					$accent-70;
$button-bg--hover:			$accent-90;
$button-bg--active:			$accent-90;

/**
Buttons--alt
 */



/**
Focus
 */
$focus-color:                   #ffdc00;
$focus-color--rgba:             #ffdc0026;



/**
Borders
 */
$border-color:                  $neutral-30;
$input-border-color:            $neutral-50;



/**
Semantics - used sparingly and purposefully
 */
$error-color:					#a4141b;
$info-color:					#411ae5;
$success-color:					#126700;
$warning-color:					#b34a0b;