/*------------------------------------*\
    #Navigation advanced: double level

    N.B. aria-expanded attribute is managed by JS
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

/* stylelint-disable no-descending-specificity */

/* (Because the order reflects the DOM order, which Stylelint doesn't understand) */

/* Simple double level nav with vertical expansion */
#js-click-nav-vertical {
    [data-trigger="sub-nav"] {
        inline-size: 100%;
        justify-content: space-between;
    }

    [data-trigger="sub-nav"][aria-expanded="true"] svg {
        transform: scaleY(-1);
    }
}
/* stylelint-enable no-descending-specificity */