/* lato-regular - subset to Basic Latin, Latin-1 Supplement, Latin Extended-A, General Punctuation, Superscripts and Subscripts, Currency Symbols, Letterlike Symbols, Mathematical Operators, Alphabetic Presentation Forms */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/lato-regular-subset.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lato-700 - subset to Basic Latin, Latin-1 Supplement, Latin Extended-A, General Punctuation, Superscripts and Subscripts, Currency Symbols, Letterlike Symbols, Mathematical Operators, Alphabetic Presentation Forms */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/lato-bold-subset.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lato-italic - subset to Basic Latin, Latin-1 Supplement, Latin Extended-A, General Punctuation, Superscripts and Subscripts, Currency Symbols, Letterlike Symbols, Mathematical Operators, Alphabetic Presentation Forms */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 400;
  src: local(''),
  url('../fonts/lato-italic-subset.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}


/* lato-700italic - subset to Basic Latin, Latin-1 Supplement, Latin Extended-A, General Punctuation, Superscripts and Subscripts, Currency Symbols, Letterlike Symbols, Mathematical Operators, Alphabetic Presentation Forms */
@font-face {
  font-display: swap;
  font-family: Lato;
  font-style: italic;
  font-weight: 700;
  src: local(''),
  url('../fonts/lato-bolditalic-subset.woff2') format('woff2') /* Chrome 26+, Opera 23+, Firefox 39+ */
}