/*------------------------------------*\
    #Buttons and links
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

/**
Basic link styles
1: WCAG says don't rely on colour alone for styling links
 */
a {
	--_link-color: var(--link-color, #{$accent-70});

	&:visited,
	&:active {
		--link-color: #{$accent-80};
	}

	&:hover {
		--link-color: #{$accent-90};
	}

	&:focus {
		text-decoration: none;
	}

	border: 0;
	color: var(--_link-color);
	cursor: pointer;
	text-decoration: underline; /* 1 */
}


/**
Buttons
1: Prevent `.button` going full-width if a child of a flex column.
2: Meet WCAG AAA target size requirements.
 */
button,
.button,
input[type="submit"].button {
	--_btn-border: var(--btn-border, #{$accent-70});
	--_btn-bg: var(--btn-bg, #{$accent-70});
	--_btn-text: var(--btn-text, #fff);
	--_btn-pad-block: var(--btn-pad-block, 0.25em);
	--_btn-pad-inline: var(--btn-pad-inline, 0.75em);
	--_btn-radius: var(--btn-radius, #{rem(5)});

	&:hover, &:active {
		--btn-border: #{$accent-90};
		--btn-bg: #{$accent-90};
	}

	align-items: center;
	align-self: start; /* 1 */
	background-color: var(--_btn-bg);
	border: solid 2px var(--_btn-border);
	border-radius: var(--_btn-radius);
	color: var(--_btn-text);
	display: inline-flex;
	justify-content: center;
	min-block-size: rem(44); /* 2 */
	padding-block: 0.25em;
	padding-inline: 0.75em;
	text-decoration: none;
}


/* Alternative button style with a distinct border */
.button--alt {
	--btn-border: #{$accent-70};
	--btn-bg: transparent;
	--btn-text: #{$accent-70};

	&:hover, &:active {
		--btn-border: #000;
		--btn-bg: transparent;
		--btn-text: #000;
	}
}


/* Full-width buttons */
.button--wide.button--wide {
	inline-size: 100%;
}


/**
 For buttons with no visible background or border
 1: Ghost button has no padding but we still want to meet WCAG AAA target size
 */
.button--ghost {
	--btn-border: transparent;
	--btn-text: #000;
	--btn-bg: transparent;
	--btn-pad-block: 0;
	--btn-pad-inline: 0;

	&:hover, &:active {
		--btn-bg: transparent;
		--btn-border: transparent;
	}

	min-inline-size: rem(44); /* 1 */
}


/* Disabled buttons */
 button[disabled],
 .button[disabled],
 .button.js-disabled {
	 --btn-border: #{$neutral-50};
	 --btn-text: #000;
	 --btn-bg: #{$neutral-50};

	 cursor: not-allowed;
 }