/*------------------------------------*\
    #Skip link
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;
@use 'hide-and-show' as *;

.skip-link.skip-link {
	@extend .visuallyhidden;

	background-color: $accent-30;
	color: #000;
	padding-block: em(10);
	padding-inline: em(15);
    position: absolute;
	text-decoration: none;
    z-index: 999;

	&:focus {
		inset-block-start: calc(var(--_focus-ring-spacing) * 3);
		inset-inline-start: calc(var(--_focus-ring-spacing) * 3);
	}
}