/*------------------------------------*\
    #Cards

    1. The `stack` mixin applies flexbox in the column direction,
    so we need to prevent things like buttons and links
    from stretching horizontally
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.card {
    --_card-bg: var(--card-bg, transparent);
    --_card-border-clr: var(--card-border-clr, #{$neutral-30});
    --_card-border-width: var(--card-border-width, 2px);
    --_card-radius: var(--card-radius, 0);

    background-color: var(--_card-bg);
    border: solid var(--_card-border-clr) var(--_card-border-width);
    border-radius: var(--_card-radius);
    display: flex;
    flex-direction: column;
}


.card__text {
	flex-grow: 1;
	order: 1;
}

.card__text > * {
    margin-block: 0;
}

.card__text > * + * {
    margin-block-start: 1rem;
}


.card__heading {
	@include text-25;
}


.card__link {
	border: 0;
	color: inherit;
}