/*------------------------------------*\
    #Global header
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.global-header {
    background-color: $white;
    color: $neutral-90;
    line-height: normal;
    padding-block: 20px;

    a {
        color: inherit;

        &:visited,
        &:hover,
        &:active {
            color: inherit;
        }
    }

    .button {
        color: white;

        &:visited,
        &:hover,
        &:active {
            color: white;
        }
    }

    .button--alt {
        color: $link-color;

        &:visited {
            color: $link-color;
        }

        &:hover,
        &:active {
            color: $black;
        }
    }
}
