/*------------------------------------*\
    #Global header
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.global-header {
    background-color: $admin-bg-primary;
    color: $white;
    line-height: normal;
    padding-block: 20px;

    a {
        color: inherit;

        &:visited,
        &:hover,
        &:active {
            color: inherit;
        }
    }
}
