/*------------------------------------*\
    #Notes
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.note {
    --box-border-width: 4px;
    --box-padding: 0;

    background-position: rem(24) rem(24);
    background-repeat: no-repeat;
    background-size: rem(32);
    margin-block: clamp(0.5rem, calc(0.3rem + 1vw), 1rem);
}

.note__header {
    align-items: center;
    background-color: $off-black;
    color: $white;
    column-gap: rem(10);
    display: flex;
    padding: rem(10);

    h2 {
        @include text-22;

        margin-block: 0;
    }
}

.note__body {
    padding-inline: rem(10);
}


.note--error {
    border-color: $error-color;

    .note__header {
        background-color: $error-color;
    }
}


.note--info {
    border-color: $info-color;

    .note__header {
        background-color: $info-color;
    }
}


.note--success {
    border-color: $success-color;

    .note__header {
        background-color: $success-color;
    }
}


.note--warning {
    border-color: $warning-color;

    .note__header {
        background-color: $warning-color;
    }
}