/*------------------------------------*\
    #Search
\*------------------------------------*/
@use '../10-settings' as *;
@use '../20-tools' as *;

.global-search {
    display: flex;
    inline-size: 100%;
    max-inline-size: 280px;

    [type="search"] {
        background-color: $white;
    }
}